#gallery {
  list-style: none;
  display: flex;

  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.list-item {
  margin: 10px;
}

.list-item img {
  display: block;
  max-width: 600px;
}

#counter {
  margin-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control{
  display: block;
  margin-top: 50px;
}

